VITE_SUPABASE_URL=https://jrwimjhzuvjtyfmniedi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impyd2ltamh6dXZqdHlmbW5pZWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMzAwNzYsImV4cCI6MjEwMjcwNjA3Nn0.rjs7j-7Zzj_gv-J0xE8tbOIUJ79Hh0aBL9e3Qf4DjX8